  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

body {
    display: grid;
}
li{
    list-style-type: none;
}